body{
    margin:0
}


#title1{
    position:relative;
    width:19%;
    left:1px;
    top:-50px;
}

#title1:hover{
    content:url("img/titlehover1.png");
    
}

#title2{
    position:relative;
    width:19%;
    left:5px;
    top:-50px;
}

#title2:hover{
    content:url("img/titlehover2-02.png");

}

#title3{
    position:relative;
    top:-53px;
    left:20px;
    width:19%;
}

#title3:hover{
    content:url("img/titlehover3.png");
}

#title4{
    position:relative;
    top:-53px;
    left: 40px;
    width:19%;
}

#title4:hover{
    content:url("img/titlehover2-04.png");
}

#title5{
    position:relative;
    top:-53px;
    width:18%;
    left:60px;
}

#title5:hover{
    content:url("img/titlehover-05.png");
}

.foot{
    padding: 10px;
    padding-left:20px;
    position: absolute;
    bottom: 5px;

}

.foot2{
    padding: 10px;
    bottom: 5px;
    position: absolute;
    right:10px;
}

.project{
    display: none;
}

.labass{
    display: none;
}

.aboutme{
    display: none;
}

@media (max-width: 800px) {
    #title1{
        
        top:-20px;
    }
    #title2{
        
        top:-20px;
    }
    #title3{
        left:10px;
        top:-20px;
    }
    #title4{
        left:15px;
        top:-20px;
    }
    #title5{
        left:20px;
        top:-20px;
    }
  }

