body{
    margin:0
}


#title1{
    position:relative;
    width:20%;
    left:-12px;
    top:-50px;
}

#title1:hover{
    content:url("img/titlehover1.png");
    
}

#title2{
    position:relative;
    width:20%;
    left:-10px;
    top:-50px;
}

#title2:hover{
    content:url("img/titlehover2-02.png");

}

#title3{
    position:relative;
    top:-53px;
    left:-8px;
    width:20%;
}

#title3:hover{
    content:url("img/titlehover3.png");
}

#title4{
    position:relative;
    top:-53px;
    left: -6px;
    width:20%;
}

#title4:hover{
    content:url("img/titlehover2-04.png");
}

#title5{
    position:relative;
    top:-53px;
    width:18.55%;
}

#title5:hover{
    content:url("img/titlehover-05.png");
}

.foot{
    padding: 10px;
    padding-left:20px;
    position: absolute;
    bottom: 5px;

}

.foot2{
    padding: 10px;
    bottom: 5px;
    position: absolute;
    right:10px;
}

.project{
    display: none;
}

.labass{
    display: none;
}

.aboutme{
    display: none;
}


