<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website-responsive-layout</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <span id="playlist">Playlist</span>
            <span id="Podcast">Podcast</span>
            <span id="Audiobooks">Audiobooks</span>
            <span id="Artist">Artistbook</span>
            <span id="Album">Album</span>
        </div>
        <div class="sidebar">
            <span id="home">Home</span>
            <span id="search">Search</span>
            <span id="library">Your Library</span>
            <br>
            
        </div>
        <div class="content"></div>
        <div class="foot"></div>
    </div>
</body>
</html>