<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website-responsive-layout</title>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header1">
            <img id="profile" src="img/profile.png">
            <span id="wawa">WawaNess</span>
            <div class="library">Your Library</div>
            </div>
            <div class="header2">
            <span id="bracket"><&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></span>
            <span id="playlist">Playlist</span>
            <span id="Podcast">Podcast</span>
            <span id="Audiobooks">Audiobooks</span>
            <span id="Artist">Artistbook</span>
            <span id="Album">Album</span>
            </div>
        </div>
        <div class="content">
            <div class="text">
                <div class="play">Playlists</div>
                <div class="relevant">Most relevant</div>
            </div>
            <div class="bars">
                <div class="square">
                    <div class="destext">野马 · The Murky Crows 杜斯托耶夫斯基也不能的夜晚 · The Murky Crows 万中选一的青年</div>
                    <div class="description">Liked Songs</div>
                    <div class="like">1338 liked songs</div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                        <div class="text2">Your Episodes</div>
                        <div class="text3">2 episodes</div>
                    </div>
            
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">bclaireful + 10000</div>
                    <div class="text3">A blend of music for WawaNess, 10000...</div>
                    </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">Chill Mix</div>
                    <div class="text3">babychair, Rex Orange County, D...</div>
                </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">aesthetic</div>
                    <div class="text3">for those who appreciate a curated mood</div>
                </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">My Playlist #3</div>
                    <div class="text3">By WawaNess</div>
                </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">My Playlist #2</div>
                    <div class="text3">By WawaNess</div>
                </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">My Playlist #3</div>
                    <div class="text3">By WawaNess</div>
                </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">Chinese PostPunk</div>
                    <div class="text3">Chinese Indie rockers of the 21st century</div>
                </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">最爱...王菲</div>
                    <div class="text3">王菲（王靖霏）</div>
                </div>
                </div>
                <div class="smallsquare">
                    <div class="minisquare"></div>
                    <div class="word">
                    <div class="text2">Jazzy Morning</div>
                    <div class="text3">Start your day right and wake up with Jazz </div>
                </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
    
            <div class="top">
                <span>Home</span>
                <span>Search</span>
                <span>Your Library</span>
                <br>
                <span>Creative Playlist</span>
                <span>Like Songs</span>
                <span>Your Episodes</span>
                <br>
                <span class="top2">beclaireful + 10000 + YA...</span>
                <span class="top2">My Playlist #1</span>
                <span class="top2">My Playlist #2</span>
                <span class="top2">My Playlist #3</span>
          
                <img class="image" src="img/album.png">
            </div> 
        </div>
        

        
        

            
                
        <div class="foot">
            <img class="cover" src="img/album.png">
            <div class="songdes">
                <span class="song">Stardust Night</span>
                <span class="singer">JADOES</span>
             </div>
            <img class="playbar" src="img/playbar.png">
        </div>

        <div class="guid">
            <div class="home2">Home</div>
            <div class="search2">Search</div>
            <div class="library2">Library</div>
        </div>
    </div>
</body>
</html>