.foot{
    
    padding: 10px;
    padding-left:10px;
    position: fixed;
    bottom: 5px;

}

.foot2{
    padding: 10px;
    bottom: 5px;
    position: fixed;
    right:10px;
}

.poster{
   
   
    
    border: 1px solid black;
    padding:20px;
    width:280px;
    height:220px;
}

.container{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
 
    align-items: center;
   
   
}

.greenbox{
    background-image: linear-gradient(to right, #1c522d, #f0ec85, #1f3b25);
    width:250px;
    height:170px;
   margin: 15px;
    filter:blur(4px);
    cursor: pointer;

}

.greenbox:hover{
    filter:blur(0px);
}

.json{
    margin:20px;
    
    border: 1px solid black;
    padding:20px;
    width:280px;
    height:220px;
}

.ajson{
    background-image:url("img/jsonimage.png");
    width:250px;
    height:170px;
    margin: 15px;
    filter:blur(4px);
    cursor: pointer;

}

.ajson:hover{
    filter:blur(0px);
}

.responsive{
    
    border: 1px solid black;
    padding:20px;
    width:280px;
    height:220px;
}

.colorchange{
    margin:20px;
    border: 1px solid black;
    padding:20px;
    width:280px;
    height:220px;
}

.acolorchange{
    margin: 15px;
    background-image:url("img/change.png");
    width:250px;
    height:170px;
   
    filter:blur(4px);
    cursor: pointer;

}

.aresponsive{
    background: rgb(47,79,208);
    background: linear-gradient(172deg, rgba(47,79,208,1) 0%, rgba(182,181,238,1) 100%);
    width:250px;
    height:170px;
    margin: 15px;
    filter:blur(4px);
    cursor: pointer;

}

.aresponsive:hover{
    filter:blur(0px);
}

.acolorchange:hover{
    filter:blur(0px);
}