html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


.direction{
  position:absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#home{
    width:110px;
    position:absolute;
    top: 92%;
  left: 95%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;

}



@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
