.foot{
    padding: 10px;
    padding-left:10px;
    position: absolute;
    bottom: 5px;
}

.foot2{
    padding: 10px;
    bottom: 5px;
    position: absolute;
    right:10px;
}

.intro1{
    position:absolute;
    left:200px;
    top:100px;
    width:500px;
}

.intro1:hover{
    content:url("imgs/intro-09.png");
    z-index:2;
}

.intro2{
    position:absolute;
    left:700px;
    top:100px;
    width:550px;
}

.intro2:hover{
    content:url("imgs/hover.png");
    z-index:3;
}

.intro3{
    position:absolute;
    left:200px;
    top:300px;
    width:550px;
}

.intro3:hover{
    content:url("imgs/intro-11.png");
}


  