*{
    cursor: url("imgs/cursor.png"), auto;
}

body{ 
    margin:0px;
    background-image: url(imgs/background.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

@font-face {
  font-family: 'helvetica_lt_stdlight';
  src: url('helveticaltstd-light-webfont.woff2') format('woff2'),
       url('helveticaltstd-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.foot{
    background-color:black;
    color:beige;
    padding: 10px;
    position:fixed;
    width:100%;
    font-stretch: extra-condensed;
    padding-left: 20px;
    bottom: 0%;
    z-index:100;
    font-family: 'helvetica_lt_stdlight';
}

h1{
    position:absolute;
    left:80%;
    top:-10px;
    z-index:101;
    font-stretch: extra-condensed;
    font-family: 'helvetica_lt_stdlight';

}

#home{
  position:absolute;
  left:30%;
  color:beige;
  top:-3px;
  z-index:101;
  font-size: 22px;
  font-stretch: extra-condensed;
  font-family: 'helvetica_lt_stdlight';
}

#speaker{
  color:beige;
  position:absolute;
  left:58%;
  top:-3px;
  z-index:101;
  font-size: 22px;
  font-stretch: extra-condensed;
  font-family: 'helvetica_lt_stdlight';
}

#question{
  font-size: 22px;
  position:absolute;
  right:5%;
  top:-5px;
  z-index:101;
  font-stretch: extra-condensed;
  font-family: 'helvetica_lt_stdlight';
}

.wrapper {
    display: grid;
    border:2px solid black;
    place-items: center;
    background-color:white;
    position:absolute;
    top:12.5%;
    width:200px;
    height: 50px;
    margin:30px;
    left:5.5%;
  }
  
  .typing-demo {
    color:#5f6352;
    font-family: 'helvetica_lt_stdlight';
    position:absolute;
    width: 9ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.5em;
  } 

.wrapper2 {
    display: grid;
    border:2px solid black;
    place-items: center;
    background-color:white;
    position:absolute;
    top:75%;
    left: 2%;
    width:500px;
    height: 50px;
    margin:30px;
  }
  .typing-demo2 {
    position:absolute;
    color:#5f6352;
    font-family: 'helvetica_lt_stdlight';
    width: 30ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    
    font-size: 1.5em;
  } 
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #periodspeak{

    position: absolute;
    top: 46%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height:93%;
    width:101%;
}

#audio{
    height:20px;
    position:absolute;
    left:42%;
    top:28%;
    width:15%;
}

#camera{
  width:50px;
  position:absolute;
  left:47%;
  top:60%;
}